.promote-container{
  display: flex;
  padding: 30px 20px;
  gap:30px;
}
.promate-grid-1{
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 30px;
background-color: #ffff;

}
.promote-wrapper{
    margin:10px 60px;
   
}
.img-div{
    position: sticky;
    width: 100%;
}
.img-div  img {
    width: 100%;
}
.promote-item p{
 text-align: left;
}
.promote-wrapper h1{
    margin-top: 20px ;
    font-size: 50px;
}
.promote-item:hover {
    background-color: #ffff !important;
    box-shadow: 100px 48px 76px -100px rgba(0,0,0,0.1);
    padding: 30px;
}