body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   margin: auto;
   
}

  :root {
    --text-primary: #092C4C;
    --btn-primary: #092C4C;
    --text-danger: #FF4E41;
    --btn-danger: #FF4E41;
    --shadow:0 1px 15px rgba(104,104,104,0.8);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(237, 237, 233);
}
